<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lucas Caldeira - Artes e Design</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="css/style.css" rel="stylesheet" media="screen">
</head>

<body>
	<div id="app">
		<div class="nav2" v-if="content === 'profile'">
			<div id="pg1" class="dot active" @click="scrollWin('intro')"></div>
			<div id="pg2" class="dot" @click="scrollWin('exp')"></div>
			<div id="pg3" class="dot" @click="scrollWin('hab')"></div>
		</div>
	
		<div class="container">
			<div class="logo">
				<img src="img/logo.png" />
			</div>
			<ul class="nav">
				<li class="nav-item">
					<a id="item1" class="nav-link active" @click="changeContent('profile')">{{translate.menu[0]}}</a>
				</li>
				<li class="nav-item">
					<a id="item2" class="nav-link" @click="changeContent('gallery')">{{translate.menu[1]}}</a>
				</li>
				</li>
			</ul>

			<div id="profile" v-if="content === 'profile'">
				<article id="intro" @wheel="handleWheel('intro')">
					<h1 class="title">{{translate.titles[0]}}</h1>
					<div class="grid">
						<div class="pf_image"><img src="img/4833582.jpg" /></div>
						<div class="text" v-html="translate.intro"></div>
					</div>
					<div class="medias">
						<a href="https://www.behance.net/LucasCaldeira" target="_blank"><img
								src="img/behance.jpeg" width="50px"/></a>
						<a href="https://www.deviantart.com/lucascaldeira" target="_blank"><img
								src="img/deviantart.png" /></a>
						<a href="https://www.pixiv.net/en/users/5951600" target="_blank"><img src="img/pixiv.png" /></a>
						<a href="https://github.com/CaldeiraLucas" target="_blank"><img src="img/GitHub-Mark-Light-64px.png" width="50px"/></a>
						<a href="https://www.linkedin.com/in/lucas-caldeira-de-macedo-aaba08134/" target="_blank"><img src="img/In-White-48.png" width="50px"/></a>
						<!--<a href="#" target="_blank"><img src="img/instagram.png" /></a>-->					
					</div>
				</article>
				<article id="exp" @wheel="handleWheel('exp')">
					<section>
						<h1 class="title">{{translate.titles[1]}}</h1>
						<ul v-html="translate.courses"></ul>
					</section>
					<section>
						<h1 class="title">{{translate.titles[2]}}</h1>
						<ul v-html="translate.exp"></ul>
					</section>
				</article>
				<article id="hab" @wheel="handleWheel('hab')">
					<h1 class="title">{{translate.titles[3]}}</h1>
					<div class="dev_web">
						<h2>{{translate.know.items[0]}}</h2>
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>Javascript</li>
							<li>Bootstrap</li>
							<li>Wordpress</li>
							<li>Vue.js</li>
							<li>Git</li>
							<li>Figma</li>
						</ul>
					</div>
					<div class="edit">
						<h2>{{translate.know.items[1]}}</h2>
						<ul>
							<li>Photoshop</li>
							<li>After Effects</li>
							<li>Premiere</li>
							<li>InDesign</li>
							<li>Illustrator</li>
							<li>Paint Tool SAI</li>
						</ul>
					</div>
					<div class="lang">
						<h2>{{translate.know.items[2]}}</h2>
						<ul v-html="translate.know.subitems">

						</ul>
					</div>
					<div class="others">
						<div class="pill">GameMaker Studio</div>
						<div class="pill">Microsoft Office</div>
						<div class="pill">Autodesk 3D Studio Max</div>
					</div>
				</article>
			</div>

			<div id="gallery" v-if="content === 'gallery'">

				<div class="subj" v-for="(item, name) in subj">
					<h1 class="title" v-for="(item, key) in item.title" v-if="lang === key">{{ item }}</h1>
					<div :id="name" class="row">
						<a class="left" @click="scrollSubj('left', name)">&#10094;</a>
						<div id="items">
							<div class="column hover-shadow" v-for="(file, index) in item.files">
								<img :src="file" @click="showSlides(index, item)">
							</div>
						</div>
						<a class="right" @click="scrollSubj('right', name)">&#10095;</a>
					</div>
				</div>

				<div id="myModal" class="modal" v-if="show==true">
					<span class="close" @click="show = !show">&times;</span>
					<div class="modal-content">

						<div class="mySlides">
							<div class="numbertext">{{ slideIndex+1 }} / {{ subjSelected.files.length }}</div>
							<img :src="subjSelected.files[slideIndex]">
						</div>

						<a class="prev" @click="slideIndex--, switchSlides()">&#10094;</a>
						<a class="next" @click="slideIndex++, switchSlides()">&#10095;</a>

						<div class="caption-container">
							<p id="caption"></p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

	<script src="js/app.js"></script>
</body>

</html>