<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lucas Caldeira - Artes e Design</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="css/style.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="../dist/css/animsition.min.css">
</head>

<body>
	<div id="app">
		<div class="nav2" v-if="content === 'profile'">
			<div id="pg1" class="dot active" @click="scrollWin('intro')"></div>
			<div id="pg2" class="dot" @click="scrollWin('exp')"></div>
			<div id="pg3" class="dot" @click="scrollWin('hab')"></div>
		</div>
		<div class="container">
			<div class="logo">
				<img src="img/logo.png" />
			</div>
			<ul class="nav">
				<li class="nav-item">
					<a id="item1" class="nav-link active" @click="changeContent('profile')">Perfil</a>
				</li>
				<li class="nav-item">
					<a id="item2" class="nav-link" @click="changeContent('gallery')">Galeria</a>
				</li>
				</li>
			</ul>

			<div id="profile" v-if="content === 'profile'">
				<article id="intro">
					<h1 class="title">Quem sou</h1>
					<div class="grid">
						<div class="pf_image"><img src="img/4833582.jpg" /></div>
						<div class="text">
							<p>
								Bacharel em Desenho Industrial com Habilitação em Design de Mídias Digitais pela PUC-Rio
								(2014-2019). Sou observador e racional, mas também empático e criativo. Busco ser útil o
								máximo
								possível para a equipe.
							</p>
							<p>
								Interessado em oportunidades em web design, design gráfico ou game design. Realizo
								projetos
								pessoais
								em ilustração, enquanto me aperfeiçoo em arte digital, programação front-end e
								editoração
								eletrônica.
							</p>
							<p>
								Nas horas vagas, assisto videos no Youtube e séries na Netflix, jogo
								casualmente e aprecio animações ocidentais e orientais.
							</p>
						</div>
					</div>
					<div class="medias">
						<h6>Minhas redes</h6>
						<a href="https://www.behance.net/LucasCaldeira" target="_blank"><img
								src="img/behance.png" /></a>
						<a href="https://www.deviantart.com/lucascaldeira" target="_blank"><img
								src="img/deviantart.png" /></a>
						<a href="https://www.pixiv.net/en/users/5951600" target="_blank"><img src="img/pixiv.png" /></a>
						<!--<a href="#" target="_blank"><img src="img/instagram.png" /></a>-->
					</div>
				</article>
				<article id="exp">
					<section>
						<h1 class="title">Cursos</h1>
						<ul>
							<li>Design Gráfico e WEB (Seven/2014)</li>
							<li>Português e Inglês (Kumon/2013, 2019)</li>
							<li>“Introdução à linguagem Python” (Udemy/2019)</li>
							<li>“Introdução à linguagem Javascript” (Udemy/2019)</li>
						</ul>
					</section>
					<section>
						<h1 class="title">Experiências</h1>
						<ul>
							<li>Monitorias PUC-Rio
								<ul>
									<li>Modelagem virtual (2016.2 - 2017.1)</li>
									<li>Edição e tratamento de imagem (2018.1)</li>
								</ul>
							</li>
							<li>Editor na Noveland (2018 - 2020)</li>
							<li>UI Designer/Front End Dev Jr na Voodfy (2020 - )</li>
						</ul>
					</section>
				</article>
				<article id="hab">
					<h1 class="title">Conhecimentos</h1>
					<div class="dev_web">
						<h2>Desenvolvimento Web</h2>
						<ul>
							<li>HTML/CSS/Javasciprt</li>
							<li>Bootstrap</li>
							<li>Wordpress</li>
							<li>Vue.js</li>
							<li>Figma</li>
						</ul>
					</div>
					<div class="edit">
						<h2>Edição e Criação</h2>
						<ul>
							<li>Photoshop</li>
							<li>After Effects</li>
							<li>Premiere</li>
							<li>InDesign</li>
							<li>Illustrator</li>
							<li>Paint Tool SAI</li>
						</ul>
					</div>
					<div class="lang">
						<h2>Idiomas</h2>
						<ul>
							<li>Inglês</li>
							<li>Espanhol</li>
						</ul>
					</div>
					<div class="others">
						<div class="pill">Ilustração</div>
						<div class="pill">User Interface</div>
						<div class="pill">GameMaker Studio</div>
						<div class="pill">Editoração</div>
						<div class="pill">Programação</div>
						<div class="pill">Pacote Office</div>
						<div class="pill">Modelagem 3D</div>
						<div class="pill">Github</div>
					</div>
				</article>
			</div>

			<div id="gallery" v-if="content === 'gallery'">

				<div class="subj" v-for="(item, name) in subj">
					<h1 class="title">{{ item.title }}</h1>
					<div :id="name" class="row">
						<a class="left" @click="scrollSubj('left', name)">&#10094;</a>
						<div id="items">
							<div class="column hover-shadow" v-for="(file, index) in item.files">
								<img :src="file" @click="showSlides(index, item)">
							</div>
						</div>
						<a class="right" @click="scrollSubj('right', name)">&#10095;</a>
					</div>
				</div>

				<div id="myModal" class="modal" v-if="show==true">
					<span class="close" @click="show = !show">&times;</span>
					<div class="modal-content">

						<div class="mySlides">
							<div class="numbertext">{{ slideIndex+1 }} / {{ subjSelected.files.length }}</div>
							<img :src="subjSelected.files[slideIndex]">
						</div>

						<a class="prev" @click="slideIndex--, switchSlides()">&#10094;</a>
						<a class="next" @click="slideIndex++, switchSlides()">&#10095;</a>

						<div class="caption-container">
							<p id="caption"></p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				content: 'profile',
				show: false,
				slideIndex: 0,
				subjSelected: '',
				subj: {
					art: {
						title: 'Ilustrações',
						files: [
							'img/trabalhos/ilust/New Canvas.png',
							'img/trabalhos/ilust/PaolaNY.jpg',
							'img/trabalhos/ilust/treino 001.jpg',
							'img/trabalhos/ilust/vanessa.jpg',
							'img/trabalhos/ilust/JackPark.jpg',
							'img/trabalhos/ilust/Ayame.png',
							'img/trabalhos/ilust/Ciel.png',
							'img/trabalhos/ilust/dancarina.jpeg',
							'img/trabalhos/ilust/Girassol.jpg',
							'img/trabalhos/ilust/Muslim.jpg',
							'img/trabalhos/ilust/Stella.png',
							'img/trabalhos/ilust/Vanessa.jpg',
							'img/trabalhos/ilust/WTLD.jpg',
							'img/trabalhos/ilust/kurisutina.png',
							'img/trabalhos/ilust/red_arc.jpg',
							'img/trabalhos/ilust/saber_lily.jpg',
							'img/trabalhos/ilust/white_len.jpg',
						],
					},
					pint: {
						title: 'Pinturas digitais',
						files: [
							'img/trabalhos/pint/Arcueid.png',
							'img/trabalhos/pint/poaru.jpg',
						],
					}
				}
			},
			methods: {
				changeContent(content) {
					var item1 = document.getElementById('item1');
					var item2 = document.getElementById('item2');

					if (content === 'profile') {
						this.content = 'profile';
						item1.classList.add('active');
						item2.classList.remove('active');
					}
					if (content === 'gallery') {
						this.content = 'gallery';
						item1.classList.remove('active');
						item2.classList.add('active');
					}
				},
				scrollWin(page) {
					var pg1 = document.getElementById('pg1');
					var pg2 = document.getElementById('pg2');
					var pg3 = document.getElementById('pg3');

					var height = document.getElementById('intro').offsetHeight;
					console.log(height);

					if (page == 'intro') {
						pg1.classList.add("active");
						pg2.classList.remove("active");
						pg3.classList.remove("active");
						var scrollDiv = 0;
					}
					if (page == 'exp') {
						pg1.classList.remove("active");
						pg2.classList.add("active");
						pg3.classList.remove("active");
						var scrollDiv = height;
					}
					if (page == 'hab') {
						pg1.classList.remove("active");
						pg2.classList.remove("active");
						pg3.classList.add("active");
						var scrollDiv = document.getElementById(page).offsetTop;
					}
					//console.log(scrollDiv);
					document.getElementById('profile').scrollTo({ top: scrollDiv, behavior: 'smooth' });
				},
				scrollSubj(direction, id) {
					if (direction == 'right') {
						console.log(id)
						document.getElementById(id).scrollBy({ left: 300, behavior: 'smooth' });
					}
					if (direction == 'left') {
						console.log(id)
						document.getElementById(id).scrollBy({ left: -300, behavior: 'smooth' });
					}
				},
				switchSlides() {
					console.log(this.slideIndex);
					if (this.slideIndex > this.subjSelected.files.length - 1) { this.slideIndex = 0 }
					if (this.slideIndex < 0) { this.slideIndex = this.subjSelected.files.length - 1 }
				},
				showSlides(n, i) {
					console.log(i);
					this.subjSelected = i;
					console.log(this.subjSelected);
					this.slideIndex = n;
					this.show = true;
				}
			}
		})

	</script>
</body>

</html>
